#header{
height: 130px;
width: auto;
background-color: white;
}
#logo{
  width: auto;
  float: left;
  padding: 0px 20px 0px 20px;
}

.hero-unit {
  padding: 30px;
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 200;
  line-height: 15px;
  color: inherit;
  background:rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.hero-unit h1 {
  margin-bottom: 0;
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
  color: inherit;
}

.hero-unit li {
  line-height: 30px;
}

#logname, #logps{
  border: 1.5px solid #b2b2b2;
  width: 300px;
  height: 30px;
  font-size: 20px;
}
#logbtn
{
  border: 1.5px solid #b2b2b2;
  width: 70px;
  height: 30px;
  font-size: 20px;
}
#lostps{
  /*color: gray;*/
  font-size: 20px;
}

#loghero-unit{
  height: 340px;
  width: 300px;
}

.container{
  background-color: rgba(0 ,204 ,153,0.5);
  width:auto;
  margin: 0px;
  padding: 0px;
}

#loginForm{
  width: 500px; 
  margin-top: 30px;
}

#copyright{
	color: darkblue;
}


.muted{
	text-align: center;
}

#prezi{
margin-top: 0px;
margin-right: 20px;
}

a{
	text-decoration:none;
  color: darkblue;
}

a:hover{
	text-decoration:none;
	color: blue;
}

a:visited{
	text-decoration:none;
	color: darkblue;
}

#text{
font-size: 20px;
line-height: 1em;

}
