
#logo{
	width: 400px;
  float: left;
	margin: auto;
}

.hero-unit {
  padding: 60px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  color: inherit;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.hero-unit h1 {
  margin-bottom: 0;
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
  color: inherit;
}

.hero-unit li {
  line-height: 30px;
}

#logname, #logps, #logbtn{
	width: 300px;
}

#lostps{
	color: #AAAAAA;
}

#loghero-unit{
	height: 200px;
}

.container{
	width:760px;
	margin: auto;
}

#loginForm{
	width: 500px;	
	margin: auto;
}

#copyright{
	color: darkblue;
}


.muted{
	text-align: center;
}

a{
	text-decoration:none;
  color: darkblue;
}

a:visited{
	text-decoration:none;
	color: darkblue;
}

